= link_to 'Back', companies_path
.row
  .col-md-5
    .element-container
      .title Company
      .content
        %p#notice= notice
        %p
          %strong Name:
          = raw @company.name
        %p
          %strong Sector:
          = link_to @company.sector_name, sector_path(@company.sector_id)
        %p
          %strong Industry:
          = link_to @company.industry_name, industry_path(@company.industry_id)
        %p
          %strong Symbol:
          = @company.symbol
        - if @company.details.present?
          %p
            %strong Details:
            = @company.details
  -# .col-md-7
  -#   .element-container
  -#     .title Key Statistics
  -#     .content
  -#       %table.table
  -#         %tbody
  -#           - @ki.all.each do |label, kfi|
  -#             %tr
  -#               %td= label
  -#               %td= number_to_percentage(kfi.to_f * 100, precision: 4)

.row
  .col-md-12
    .element-container
      .title Key Financials
      .content
        %table.table
          %thead
            %th
            - @ki.per_year_in_asc_order.each do |year, _|
              %th= year
          %tbody
            - kfis.each do |kfi, format|
              %tr
                %td= kfi.to_s
                - @ki.per_year_in_asc_order.each do |_, stat|
                  %td= format.call(stat[kfi])
.row.financial-statements
  .col-md-12
    .element-container
      .title Financial Statements
      .content
        %div
          %ul.nav.nav-tabs.financials-tabs(role="tablist")
            %li.active(role="presentation")
              %a(href="#income" aria-controls="income" role="tab" data-toggle="tab") Income Statement
            %li(role="presentation")
              %a(href="#balance" aria-controls="balance" role="tab" data-toggle="tab") Balance Sheet
            %li(role="presentation")
              %a(href="#cashflow" aria-controls="cashflow" role="tab" data-toggle="tab") Cash Flow Statement
          .tab-content
            #income.tab-pane.active(role="tabpanel")
              = render :partial => 'income_statement', :locals => { :company => @company }
            #balance.tab-pane(role="tabpanel")
              = render :partial => 'balance_sheet', :locals => { :company => @company }
            #cashflow.tab-pane(role="tabpanel")
              = render :partial => 'cash_flow_statement', :locals => { :company => @company }

.row
  .col-md-12
    .element-container
      .title Historical Prices
      .content
        #company_chart{'data-url' => "/companies/#{@company.id}/historical_data/prices?n_days=365",
                       'data-name' => @company.name }

.row
  .col-md-12
    .element-container
      .title Historical Prices
      .content
        %table#historical_prices_table.table-striped{'data-pagination' => 'true',
                   'data-page-list' => '[10, 25, 50, 100, 200, 500]',
                   'data-side-pagination' => 'server',
                   'data-url' => "/companies/#{@company.id}/historical_data/list"}

= link_to 'Back', companies_path
